/* Styling for background/body text */
body {
	background-image: url("../images/476332944-magenta.jpg");
	font-family: 'Raleway', sans-serif;
}

/* Styling for main box with content in it */
.content-box {
	background-color: #CEEFDE;
	margin-top: 50px;
	min-height: 600px;
	border-style: solid;
	border-width: 2px;
	border-color: #8AD9B0;
	text-align: center;
}

/* Styling for page title/header */
h1 {
	text-align: center;
	font-family: 'Monoton', cursive;
	font-size: 48px;
	color: #69CE9A;
}

/* Styling for buttons used to start game/reset game */
.start-button, .reset-button {
	padding: 10px 30px 10px 30px;
	margin: 150px 0px 150px 0px;
	font-size: 24px;
	text-align: center;
	background-color: #47C383;
	border-style: solid;
	border-width: 2px;
	border-color: #8AD9B0;
	color: white;
}

/* Specific styling for reset button so it 
doesn't run into images/bottom border */
.reset-button {
	margin: 20px 0px 40px 0px;
}

/* Styling for buttons on hover (using color palette
found on colorhexa.com with my starting colors) */
.start-button:hover, .reset-button:hover {
	padding: 10px 30px 10px 30px;
	font-size: 24px;
	text-align: center;
	background-color: #b3d98a;
	border-style: solid;
	border-width: 2px;
	border-color: #8dc650;
}

/* Basic styling for answer panels (border is in place so panels
don't jump around when I add a border on hover) */
.answers {
	padding: 20px;
	margin: 20px 150px 20px 150px;
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

/* Fun hover colors (again from color palette on colorhexa.com) */
.answers:hover {
	background-color: #B08AD9;
	cursor: pointer;
	border-color: #9664cc;
}

/* Styling around image that populates when you win or lose */
img {
	border-style: solid;
	border-width: 2px;
	border-color: #d971b1;
	outline-style: solid;
	outline-width: 3px;
	outline-color: #c83690;
	margin: 10px;
}

/* For footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -25px;
	/* Pad bottom by footer height */
	padding: 0px 0px 25px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
	height: 25px;
	padding: 5px;
	color: #B08AD9;
	font-size: 11px;
	font-weight: bold;
	background-color: #efcedf;
	border-top-style: solid;
	border-color: #dc94b9;
	border-width: 1px;
	text-align: center;
	overflow: auto;
	overflow-y: hidden;
}